In [ ]:
%pip install cs50
%pip install pandas

In [21]:
from cs50 import SQL
import pandas as pd

In [28]:
db = SQL('sqlite:///fiftyville.db')

pd.set_option('display.max_colwidth', None)

In [31]:
query = '''
    SELECT *
    FROM crime_scene_reports
    WHERE (year = 2024 AND month = 7 AND day = 28) 
        AND street = 'Humphrey Street'
        AND description LIKE '%CS50 duck%'
'''

data = db.execute(query)
pd.DataFrame(data)

,id,year,month,day,street,description
0,295,2024,7,28,Humphrey Street,Theft of the CS50 duck took place at 10:15am at the Humphrey Street bakery. Interviews were conducted today with three witnesses who were present at the time – each of their interview transcripts mentions the bakery.

In [32]:
query = '''
SELECT *
FROM interviews
WHERE (year = 2024 AND month = 7 AND day = 28)
    AND transcript LIKE '%bakery%'
;
'''

data = db.execute(query)
pd.DataFrame(data)

,id,name,year,month,day,transcript
0,161,Ruth,2024,7,28,"Sometime within ten minutes of the theft, I saw the thief get into a car in the bakery parking lot and drive away. If you have security footage from the bakery parking lot, you might want to look for cars that left the parking lot in that time frame."
1,162,Eugene,2024,7,28,"I don't know the thief's name, but it was someone I recognized. Earlier this morning, before I arrived at Emma's bakery, I was walking by the ATM on Leggett Street and saw the thief there withdrawing some money."
2,163,Raymond,2024,7,28,"As the thief was leaving the bakery, they called someone who talked to them for less than a minute. In the call, I heard the thief say that they were planning to take the earliest flight out of Fiftyville tomorrow. The thief then asked the person on the other end of the phone to purchase the flight ticket."

In [33]:
query = '''
SELECT *
FROM bakery_security_logs
WHERE (year = 2024 AND month = 7 AND day = 28)
    AND hour = 10
    AND minute > 15 + 5 AND minute <= 15 + 10 -- 10:15am + 10m ~ 10:25am
    AND activity = 'exit'
;
'''

data = db.execute(query)
pd.DataFrame(data)

    id  year  month  day  hour  minute activity license_plate
0  265  2024      7   28    10      21     exit       L93JTIZ
1  266  2024      7   28    10      23     exit       322W7JE
2  267  2024      7   28    10      23     exit       0NTHK55